* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

body {
  position: relative;
  padding: 5%;
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  body {
    padding-top: 2%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
  padding-bottom: 10%;
}

.header__img {
  width: 30%;
  border-radius: 16px;
  margin-bottom: 5%;
}

.header__name {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 3%;
}

.header__location {
  font-weight: 600;
  font-size: 0.8rem;
  color: #a9a9a9;
  margin-bottom: 3%;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

.header__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  background-color: #e5e5e5;
  border-radius: 12px;
  padding: 5% 10%;
}

.header__info-num {
  font-size: 0.9rem;
  font-weight: 600;
  color: #4e5150;
  margin-bottom: 0.2rem;
}

.header__info-txt {
  font-size: 0.8rem;
  font-weight: 600;
  color: #bdbdbd;
}

@media (min-width: 576px) {
  .header__name {
    font-size: 1.4rem;
  }
  .header__location {
    font-size: 1rem;
  }
  .header__info-num {
    font-size: 1.1rem;
  }
  .header__info-txt {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .header__name {
    font-size: 1.6rem;
  }
  .header__location {
    font-size: 1.2rem;
  }
  .header__info-num {
    font-size: 1.3rem;
  }
  .header__info-txt {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .header {
    padding-top: 0;
    padding-bottom: 5%;
  }
  .header__img {
    width: 10%;
    margin-bottom: 2%;
  }
  .header__name {
    font-size: 1.8rem;
    margin-bottom: 1%;
  }
  .header__location {
    margin-bottom: 2%;
  }
  .header__info {
    width: 40%;
    gap: 25px;
  }
  .header__info-box {
    width: 25%;
  }
}

.gallery {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  height: 60vh;
}

.gallery__item {
  border-radius: 12px;
  overflow: hidden;
}

.gallery__item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.gallery__item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / 2 / 4;
}

.gallery__item:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
}

.gallery__item:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 4 / 4;
}

.gallery__item:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

.gallery__item:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
}

.gallery__item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

.gallery__item-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 992px) {
  .gallery {
    height: 100vh;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}
/*# sourceMappingURL=main.css.map */