.gallery {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	height: 60vh;
	&__item {
		border-radius: 12px;
		overflow: hidden;
		&:nth-child(1) {
			grid-area: 1 / 1 / 2 / 2;
		}
		&:nth-child(2) {
			grid-area: 1 / 2 / 2 / 4;
		}
		&:nth-child(3) {
			grid-area: 2 / 1 / 3 / 3;
		}
		&:nth-child(4) {
			grid-area: 2 / 3 / 4 / 4;
		}
		&:nth-child(5) {
			grid-area: 3 / 1 / 4 / 2;
		}
		&:nth-child(6) {
			grid-area: 3 / 2 / 4 / 3;
		}
		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.3s;
			cursor: pointer;
			&:hover {
				transform: scale(1.05);
			}
		}
	}
}
@media (min-width: 992px) {
	.gallery {
		height: 100vh;
		grid-row-gap: 10px;
		grid-column-gap: 10px;
	}
}
